html
  head
    meta(charset="utf-8")
    title | Mocha Tests
    each src_file in src_files.js
      script(src=src_file)
    each src_file in src_files.assets
      != js(src_file)
    style!= mocha_css
    script!= mocha_js
    script!= expect
    script
      window.expect = chai.expect;
    script mocha.setup('bdd');
    each test_file in test_files
      script!=test_file
    script
      $(function() {
        mocha.run();
      });
  body
    #mocha
    #mocha-content
